{% extends "admin/admin_base.html" %}
{% block content %}

<h3>Transactions Record</h3>

<table class="table">
  <thead>
    <tr>
      <th>Serial No</th>
      <th>Doctor</th>
      <th>Department</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    {% for bill in billings %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ bill.booking.doctor.name }}</td>
      <td>{{ bill.booking.doctor.dept }}</td>
      <td>₹ {{ bill.amount }}</td>
      <td>{{ bill.created_at|date:"d M Y" }}</td>
      <td>{{ bill.status }}</td>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">No bills found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
